body{
    font-family: "Comic Sans MS", Helvetica, sans-serif;
}
#gameDiv{
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: lightgray;
    text-align: center;
}
.choiceBtn{
    background-color: darkgrey;
    font-family: "Comic Sans MS", Helvetica, sans-serif;
    font-weight: bold;
    color: cyan;
    line-height: 30px;
    width: 100px;
}
#playerText{
    color: blue;
}
#computerText{
    color: red;
}